#plans_details
  #plans_heading1
    Bangkok and Pattaya
  #plans_sub_heading1
    Tour Days: 04 Nights and 05 Days
  #plans_image1
    %a.fancybox-effects-b{:href => "/assets/5_b.jpg"}
      %img#thumb{:src => "/assets/5_s.jpg"}
  #tour1_package_heading
    Tour Package Includes :
  #plans_decscription1
    * Two Nights Accommodation in Bangkok with breakfast.
    %p 
      * Two Nights accommodation in Pattaya with breakfast.
    %p
      * All lunch and dinner at Indian restaurants.
    %p
      * City and Temples tour at Bangkok.
    %p
      * English Speaking guide.
    %p
      * Flight- Two way airfare on economy class.
    %p
      = link_to "For More Details","http://www.surakshaholidays.com/bangkok/",:style => "text-decoration: none;"  
  #plans_heading2
    Swiss Paris Delight
  #plans_sub_heading2
    2 Night Engelberg | 1 Night Geneva | 2 Night Paris
  #plans_image2
    %a.fancybox-effects-c{:href => "/assets/6_b.jpg"}
      %img#thumb{:src => "/assets/6_s.jpg"}
  #plans_decscription2
    %p
      Switzerland’s snow capped mountains surrounded by lush meadows and Paris’s flair for fashion and its affinity to everything that glitters, this getaway isn’t about getting acquainted with Europe.
    %p
      Swiss Paris Delight the most extensive holiday experience that will take you through two of the most beautiful countries in Europe for visits to their most incredible vistas.
    %p 
      We certainly loved bringing it to you.
    %p
      = link_to "For More Details", "http://www.surakshaholidays.com/switzerland/",:style => "text-decoration: none;"
  #plans_heading3
    Mauritius
  #plans_sub_heading3
    6 Night Mauritius
  #plans_image3
    %a.fancybox-effects-d{:href => "/assets/8_b.jpg"}
      %img#thumb{:src => "/assets/8_s.jpg"}
  #plans_description3
    %p
      A magical vacation, this specially designed holiday package to utopian Mauritius offers you 3 full day sightseeing tours of all the famous landmarks and attractions, daily breakfast and dinner, and accommodation at one of the best resorts on the tropical island nation – Jalsa Beach Hotel & Spa.
    %p
      = link_to "For More Details","http://www.surakshaholidays.com/mauritius/",:style => "text-decoration: none;"
  #plans_heading4
    Srilanka
  #plans_sub_heading4 
    3 Nights – 4 Days
  #plans_image4
    %a.fancybox-effects-e{:href => "/assets/7_b.jpg"}
      %img#thumb{:src => "/assets/7_s.jpg"}
  #plans_description4
    %p
      The land where still exists the pristine remains of the ‘Lankeshwar.’
    %p
      No doubt that Srilanka has never failed to tempt the visitors in the enchanting beaches, water sports, the magnificent and the serene landscapes that are inclusive of lagoons, types of forests waterfalls, unending realms of river and the very perfect balance in the ecosystem.
    %p
      = link_to "For More Details","http://www.surakshaholidays.com/srilanka/",:style => "text-decoration: none;"
#plans_footer_layer  
  #foot_image_plan_details
    = image_tag("footer.png",:width =>'939',:height => '282')
  #footer_call_us
    Call Us (8 Am - 9 Pm)
    %p +91 80 40909192
  #footer_rights
    %p Email Us : inf@surakshaholidaysemi.com
    %p © 2012 Suraksha Holidays Emi
